
<% content_for :title, "Companies" %>





<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">

      <%= image_tag 'artecasa2.jpg' , class: 'full_img'%>

    </div>

    <div class="item">

      <%= image_tag 'chus1.jpg', class: 'full_img'%>

    </div>

    <div class="item">

      <%= image_tag 'chus2.jpg', class: 'full_img'%>

    </div>
    <div class="item">

      <%= image_tag 'chus3.jpg', class: 'full_img'%>

    </div>
    <div class="item">

      <%= image_tag 'chus4.jpg', class: 'full_img'%>

    </div>
    <div class="item">

      <%= image_tag 'chus5.jpg', class: 'full_img'%>

    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


























<div class="container about">
  <h1 class="text-center">ABOUT <b>MANAZIL</b></h1>
  <p class="text-center" style="font-size: 15px; line-height: 25px;">From the very beginning, ARTECASA has established itself as a renowned retailer, known for its quality, its artistic expression and its customer service.

    Dreaming of a space synonymous with sleek stylish living, Ala’a Hayat established ARTECASA is 1994.  He wanted to offer classical and trendy products to help create a comfortable and enjoyable personalized space for people in Kuwait.

  </p>

  <div class="text-center m-button">
    <%= fa_icon 'file-text-o '%>&nbsp; READ MORE ABOUT MANAZIL
  </div>

</div>

<div class="categories">
  <div class="container">
    <h1 class="text-center">Our <b>Categories</b></h1>
    <div class="row">
      <div class="col-sm-12 ">
        <ul class="nav  navbar-nav">
          <li><a class="active" href="#">All</a></li>
          <li><a href="#"><%= image_tag 'construction.svg', width:15%>&nbsp;&nbsp; Constructions</a></li>
          <li><a href="#"><%= image_tag 'bathroom.svg', width:15%>&nbsp;&nbsp; Bathrooms</a></li>
          <li><a href="#"><%= image_tag 'elevators.svg', width:15%>&nbsp;&nbsp; Elevators</a></li>
          <li><a href="#"><%= image_tag 'real estate.svg', width:15%>&nbsp;&nbsp; Real Estate</a></li>
          <li><a href="#"><%= image_tag 'shutters.svg', width:15%>&nbsp;&nbsp; Shutters</a></li>
          <li><a href="#"><%= image_tag 'pools.svg', width:15%>&nbsp;&nbsp; Pools</a></li>
          <li><a href="#"><%= image_tag 'air conditioning.svg', width:15%>&nbsp;&nbsp; Air conditioning</a></li>
          <li><a href="#"><%= image_tag 'engineering.svg', width:15%>&nbsp;&nbsp; Engineering</a></li>
          <li><a href="#"><%= image_tag 'insulator.svg', width:15%>&nbsp;&nbsp; Insulators</a></li>
          <li><a href="#"><%= image_tag 'door.svg', width:15%>&nbsp;&nbsp; Carpenters & Doors</a></li>
          <li><a href="#"><%= image_tag 'paint.svg', width:15%>&nbsp;&nbsp; Paint</a></li>
          <li><a href="#"><%= image_tag 'consulting.svg', width:15%>&nbsp;&nbsp; Consulting</a></li>
          <li><a href="#"><%= image_tag 'wall.svg', width:15%>&nbsp;&nbsp; Walls</a></li>
          <li><a href="#"><%= image_tag 'iron.svg', width:15%>&nbsp;&nbsp; Iron</a></li>
          <li><a href="#"><%= image_tag 'lighting.svg', width:15%>&nbsp;&nbsp; Lighting</a></li>
          <li><a href="#"><%= image_tag 'contracting.svg', width:15%>&nbsp;&nbsp; Contracting</a></li>
          <li><a href="#"><%= image_tag 'flooring.svg', width:15%>&nbsp;&nbsp; Flooring</a></li>
          <li><a href="#"><%= image_tag 'aluminium.svg', width:15%>&nbsp;&nbsp; Aluminium</a></li>
          <li><a href="#"><%= image_tag 'electricity.svg', width:15%>&nbsp;&nbsp; Electricity</a></li>
          <li><a href="#"><%= image_tag 'interior designs.svg', width:15%>&nbsp;&nbsp; Interior Design</a></li>
          <li><a href="#"><%= image_tag 'kitchen.svg', width:15%>&nbsp;&nbsp; Kitchens</a></li>
          <li><a href="#"><%= image_tag 'glass.svg', width:15%>&nbsp;&nbsp; Glass</a></li>
          <li><a href="#"><%= image_tag 'gardening.svg', width:10%>&nbsp;&nbsp; Gardening</a></li>




        </ul>
      </div>
    </div>

  </div>
</div>


<div class="container companies">
  <div class="row">
    <% 12.times do %>
        <div class="col-sm-3 col-md-2 col-xs-6 indi-comp">
            <div class="comp-img">
              <%= image_tag 'arti_logo.png'%>
            </div>
          <div class="text">
            <h4 class="greeno text-center">Artecasa</h4>
            <p class="text-center greeno"><span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span></p>
            <p class="text-center">168 REVIEWS</p>
            <p class="text-center greeno"><%= fa_icon 'database'%>&nbsp;&nbsp;|&nbsp;&nbsp;<%= fa_icon 'tag'%>&nbsp;&nbsp;|&nbsp;&nbsp;<%= fa_icon 'picture-o'%>&nbsp;&nbsp;|&nbsp;&nbsp;<%= fa_icon 'ellipsis-h'%></p>
          </div>
        </div>
    <%end%>
  </div>
</div>