<%= render 'home/top_banner', title: 'Add Company'%>
<% content_for :title, "Add Company" %>



<div class="container comapany_create">
  <div class="row">




        <div class=" line col-md-12">
          <div class="num col-md-1 col-xs-1 text-center">1</div>
          <div class="text col-md-10  col-xs-10">Register</div>
          <div class="toggle col-md-1  col-xs-1 text-center">
            <a style="color: #3E4B58" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <%= fa_icon 'caret-down'%>
            </a>
          </div>









          <div class="col-md-12 ">
            <div class="collapse" id="collapseExample">
              <div class="toggle-text">


                <div class="col-md-12 form-line">

                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">COMPANY NAME <br><span class="text-muted summary"></span></label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Enter your company name">
                      </div>
                    </div>

                    <hr/>

                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">EMAIL <br><span class="text-muted summary"></span></label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Enter your email">
                      </div>
                    </div>
                    <hr/>


                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">PHONE NUMBER<br><span class="text-muted summary"></span></label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Enter your phone number">
                      </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">LOGO <br><span class="text-muted summary"></span></label>
                      <div class="col-sm-2">
                        <div class="imga"></div>
                        <div class="button text-center">UPLOAD</div>
                      </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">PASSWORD <br><span class="text-muted summary"></span></label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Enter your password">
                      </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">VERIFY PASSWORD <br><span class="text-muted summary"></span></label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Enter your password again">
                      </div>
                    </div>
                    <hr/>

                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left"></label>
                      <div class="col-sm-2">

                        <div class="button text-center">SUBMIT</div>
                      </div>
                    </div>


                  </form>



                </div>


              </div>
            </div>
          </div>

        </div>

<!--
Second line shit start here-->

    <div class=" line col-md-12">
      <div class="num col-md-1  col-xs-1 text-center">2</div>
      <div class="text col-md-10 col-xs-10">Company Details</div>
      <div class="toggle col-md-1 col-xs-1 text-center">
        <a style="color: #3E4B58" role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
          <%= fa_icon 'caret-down'%>
        </a>
      </div>

      <div class="col-md-12 ">
        <div class="collapse" id="collapseExample2">
          <div class="toggle-text">


            <div class="col-md-12 form-line">

              <form class="form-horizontal">

                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">DESCRIPTION<br><span class="text-muted summary">250 characters</span></label>
                  <div class="col-sm-10">
                    <textarea type="email" class="form-control" id="inputEmail3" placeholder="Write here"></textarea>
                  </div>
                </div>

                <hr/>

                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">CATEGORIES <br><span class="text-muted summary">Select most suitable for your place</span></label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Search for a category">
                  </div>
                </div>

                              <hr/>

                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">BRANCHES<br><span class="text-muted summary"></span></label>
                  <div class="col-sm-10" style="display: flex">



                    <div class="row">
                      <div class="col-xs-6 col-md-4">
                        <div class="thumbnail">
                          <img src="http://www.ipadairwallpapers.com/wp-content/uploads/Simple%20Background/Simple%20Background%2038%20iPad%20Air%20Wallpapers%20HD.jpg" alt="...">
                          <div class="caption">
                            <h3 class="">Artecasa</h3>
                            <p>  <span class="greeno"><%= fa_icon 'map-marker'%>  </span>Kuwait &nbsp;&nbsp;<br><span style="margin-top: 10px" class="greeno"><%= fa_icon 'envelope'%>  </span> <span style="margin-top: 15px">info@artecasa.com </span></p>

                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <div class="thumbnail">
                          <img src="http://www.ipadairwallpapers.com/wp-content/uploads/Simple%20Background/Simple%20Background%2038%20iPad%20Air%20Wallpapers%20HD.jpg" alt="...">
                          <div class="caption">
                            <h3 class="">Artecasa</h3>
                            <p>  <span class="greeno"><%= fa_icon 'map-marker'%>  </span>Kuwait &nbsp;&nbsp;<br><span style="margin-top: 10px" class="greeno"><%= fa_icon 'envelope'%>  </span> <span style="margin-top: 15px">info@artecasa.com </span></p>

                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <div class="thumbnail">
                          <img src="http://www.ipadairwallpapers.com/wp-content/uploads/Simple%20Background/Simple%20Background%2038%20iPad%20Air%20Wallpapers%20HD.jpg" alt="...">
                          <div class="caption">
                            <h3 class="">Artecasa</h3>
                            <p>  <span class="greeno"><%= fa_icon 'map-marker'%>  </span>Kuwait &nbsp;&nbsp;<br><span style="margin-top: 10px" class="greeno"><%= fa_icon 'envelope'%>  </span> <span style="margin-top: 15px">info@artecasa.com </span></p>

                          </div>
                        </div>
                      </div>


                    </div>











    <!--

                        <div class="imga-thumb">

                          <div class="radio" style="   ">
                            <label>
                              <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                            </label>
                          </div>

                        </div>

                        <div class="imga-thumb">
                          <div class="radio">
                            <label>
                              <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                            </label>
                          </div>
                        </div>
                        <div class="imga-thumb">

                          <div class="radio" >
                            <label>
                              <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                            </label>
                          </div>
                        </div>
                        <div class="imga-thumb">
                          <div class="radio" >
                            <label>
                              <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                            </label>
                          </div>
                        </div>
    -->


                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left"></label>
                    <div class="col-sm-2">

                      <div style="cursor: pointer" class="button text-center" data-toggle="modal" data-target="#myModal">ADD</div>
                    </div>
                  </div>

                  <!-- Button trigger modal -->


                  <!-- Modal -->
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h3 class="modal-title " id="myModalLabel">Add Branch</h3>
                        </div>
                        <div class="modal-body" style="padding: 25px">

                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label" style="text-align: left">Location <br><span class="text-muted summary"></span></label>
                            <div class="col-sm-9">
                              <input type="email" class="form-control" id="inputEmail3" placeholder="Enter branch location">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label" style="text-align: left">Phone <br><span class="text-muted summary"></span></label>
                            <div class="col-sm-9">
                              <input type="email" class="form-control" id="inputEmail3" placeholder="Enter branch contact number ">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label" style="text-align: left">Email <br><span class="text-muted summary"></span></label>
                            <div class="col-sm-9">
                              <input type="email" class="form-control" id="inputEmail3" placeholder="Enter email address">
                            </div>
                          </div>



                        </div>
                        <div class="modal-footer" style="padding: 25px">

                          <button type="button" class="btn btn-success chumi">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>














                </div>

              <hr/>

                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">VIDEO<br><span class="text-muted summary">Introduce your place</span></label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Link of your video">
                  </div>
                </div>
                <hr/>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">DESCRIPTION<br><span class="text-muted summary">Ideally 3 short paragraphs</span></label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Enter your company description">
                  </div>
                </div>
                <hr/>

                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left"></label>
                  <div class="col-sm-2">

                    <div class="button text-center">SUBMIT</div>
                  </div>
                </div>


              </form>



            </div>


          </div>
        </div>
      </div>

      </div>



  </div>
</div>