<%= render 'home/top_banner', title: "FAQ #{params[:name].titleize}"%>
<% content_for :title, "FAQ #{params[:name]}" %>


<div class="container rules">
  <div class="row">



    <%10.times do |i|%>

        <div class=" line col-xs-12">
          <div class="num col-xs-1 text-center"><%= x=i+1 %></div>
          <div class="text col-xs-10">Description of service</div>
          <div class="toggle col-xs-1 text-center">
            <a style="color: #3E4B58" role="button" data-toggle="collapse" href="<%= "#collapseExample#{i}" %>" aria-expanded="false" aria-controls="collapseExample">
              <%= fa_icon 'caret-down'%>
            </a>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <div class="collapse" id="<%= "collapseExample#{i}" %>">
              <div class="toggle-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores atque deleniti dolor doloremque enim facilis minima minus molestias nemo, pariatur porro praesentium quos reprehenderit sed, velit veniam vero.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias beatae, dignissimos eos ex expedita molestiae necessitatibus quaerat, quos repellat ullam velit vero voluptas, voluptatibus? Aperiam deleniti quod veniam?
              </div>
            </div>
          </div>

        </div>

    <%end%>



  </div>
</div>