
<% content_for :title, "Products" %>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">

      <%= image_tag 'artecasa2.jpg' , class: 'full_img'%>

    </div>

    <div class="item">

      <%= image_tag 'chus1.jpg', class: 'full_img'%>

    </div>

    <div class="item">

      <%= image_tag 'chus2.jpg', class: 'full_img'%>

    </div>
    <div class="item">

      <%= image_tag 'chus3.jpg', class: 'full_img'%>

    </div>
    <div class="item">

      <%= image_tag 'chus4.jpg', class: 'full_img'%>

    </div>
    <div class="item">

      <%= image_tag 'chus5.jpg', class: 'full_img'%>

    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container about">
  <h1 class="text-center">ABOUT <b>MANAZIL</b></h1>
  <p class="text-center" style="font-size: 15px; line-height: 25px;">From the very beginning, ARTECASA has established itself as a renowned retailer, known for its quality, its artistic expression and its customer service.

    Dreaming of a space synonymous with sleek stylish living, Ala’a Hayat established ARTECASA is 1994.  He wanted to offer classical and trendy products to help create a comfortable and enjoyable personalized space for people in Kuwait.

   </p>

  <div class="text-center m-button">
    <%= fa_icon 'file-text-o '%>&nbsp; READ MORE ABOUT MANAZIL
  </div>

</div>

<div class="categories">
  <div class="container">
    <h1 class="text-center">Our <b>Categories</b></h1>
    <div class="row">
      <div class="col-sm-12 ">
        <ul class="nav  navbar-nav">
          <li><a class="active" href="#">All</a></li>
          <li><a href="#"><%= image_tag 'construction.svg'  %>&nbsp;&nbsp; Construction</a></li>
          <li><a href="#"><%= image_tag 'bathroom.svg'  %>&nbsp;&nbsp; Bathrooms</a></li>
          <li><a href="#"><%= image_tag 'elevators.svg'  %>&nbsp;&nbsp; Elevators</a></li>
          <li><a href="#"><%= image_tag 'real estate.svg'  %>&nbsp;&nbsp; Real Estate</a></li>
          <li><a href="#"><%= image_tag 'shutters.svg'  %>&nbsp;&nbsp; Shutters</a></li>
          <li><a href="#"><%= image_tag 'pools.svg'  %>&nbsp;&nbsp; Pools</a></li>
          <li><a href="#"><%= image_tag 'air conditioning.svg'  %>&nbsp;&nbsp; Air conditioning</a></li>
          <li><a href="#"><%= image_tag 'engineering.svg'  %>&nbsp;&nbsp; Engineering</a></li>
          <li><a href="#"><%= image_tag 'insulator.svg'  %>&nbsp;&nbsp; Insulators</a></li>
          <li><a href="#"><%= image_tag 'door.svg'  %>&nbsp;&nbsp; Carpenters & Doors</a></li>
          <li><a href="#"><%= image_tag 'paint.svg'  %>&nbsp;&nbsp; Paint</a></li>
          <li><a href="#"><%= image_tag 'consulting.svg'  %>&nbsp;&nbsp; Consulting</a></li>
          <li><a href="#"><%= image_tag 'wall.svg'  %>&nbsp;&nbsp; Walls</a></li>
          <li><a href="#"><%= image_tag 'iron.svg'  %>&nbsp;&nbsp; Iron</a></li>
          <li><a href="#"><%= image_tag 'lighting.svg'  %>&nbsp;&nbsp; Lighting</a></li>
          <li><a href="#"><%= image_tag 'contracting.svg'  %>&nbsp;&nbsp; Contracting</a></li>
          <li><a href="#"><%= image_tag 'flooring.svg'  %>&nbsp;&nbsp; Flooring</a></li>
          <li><a href="#"><%= image_tag 'aluminium.svg'  %>&nbsp;&nbsp; Aluminium</a></li>
          <li><a href="#"><%= image_tag 'electricity.svg'  %>&nbsp;&nbsp; Electricity</a></li>
          <li><a href="#"><%= image_tag 'interior designs.svg'  %>&nbsp;&nbsp; Interior Design</a></li>
          <li><a href="#"><%= image_tag 'kitchen.svg'  %>&nbsp;&nbsp; Kitchens</a></li>
          <li><a href="#"><%= image_tag 'glass.svg'  %>&nbsp;&nbsp; Glass</a></li>
          <li><a href="#"><%= image_tag 'gardening.svg'%>&nbsp;&nbsp; Gardening</a></li>




        </ul>
      </div>
    </div>

  </div>
</div>


<div class="container-fluid products">
  <div class="row">
    <% 12.times do %>
        <div class="col-sm-3 col-xs-6 product clearfix" style="background-image: url(<%= asset_url('product.jpg')%>)">



          <div class="overlay">
            <div class="color text-center" style="">
              <span style="display: none;color: white; "><%= fa_icon "search 2x"%></span>

            </div>
            <div class="icon">
              <div class="col-sm-6">
                <h3 id="title">Floor Covering</h3>
                <p><%= fa_icon "map-marker"%> Shoukat khanam</p>
                <p class="hidden-xs star"><span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span></p>
              </div>
              <div class="col-sm-6" id="greeno">
                <h3 class="l_icons pull-right"><a href="/company/index"><%= image_tag 'Untitled-4-01.png'%></a> <a href="/company/services"><%= image_tag 'Untitled-4-02.png'%></a> <a href="company/offers"><%= image_tag 'Untitled-4-03.png'%></a><a><%= image_tag 'linker.png'%></a></h3>

              </div>
            </div>
          </div>

        </div>

    <%end%>
  </div>
</div>


<div class="container m-reviews">
  <div class="col-sm-1 arrow greeno text-left topper-pad visible-md visible-lg">
    <%= fa_icon 'angle-double-left'%>
  </div>

  <div class="col-sm-7 review greeno topper-pad">
    <h3 >User Review</h3>
    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet, dolorem expedita neque nesciunt porro reprehenderit sint vitae. Accusamus aliquid cum exercitationem maiores necessitatibus nihil omnis pariatur quasi sunt voluptatem?</p>
  </div>

  <div class="col-sm-3">
    <div class="thumbnail">
      <p class="text-center">Very nice and beautiful</p>
      <%= image_tag 'home.jpg'%>
      <div class="caption">
        <h3 class="greeno">Fiaz Ahmed</h3>
        <p>Very nice and beautiful</p>

      </div>
    </div>
  </div>



  <div class="col-md-1 arrow greeno text-right topper-pad">
    <%= fa_icon 'angle-double-right'%>
  </div>



</div>