
<% content_for :title, "Products" %>

<%= image_tag 'artecasa2.jpg', class: "full_img"%>

<div class="container about">
  <h1 class="text-center">ABOUT <b>MANAZIL</b></h1>
  <p class="text-center" style="font-size: 15px; line-height: 25px;">From the very beginning, ARTECASA has established itself as a renowned retailer, known for its quality, its artistic expression and its customer service.

    Dreaming of a space synonymous with sleek stylish living, Ala’a Hayat established ARTECASA is 1994.  He wanted to offer classical and trendy products to help create a comfortable and enjoyable personalized space for people in Kuwait.

   </p>

  <div class="text-center m-button">
    <%= fa_icon 'file-text-o '%>&nbsp; READ MORE ABOUT MANAZIL
  </div>

</div>

<div class="categories">
  <div class="container">
    <h1 class="text-center">Our <b>Categories</b></h1>
    <div class="row">
      <div class="col-md-12 ">
        <ul class="nav  navbar-nav">
          <li><a class="active" href="#">All</a></li>
          <li><a href="#"><%= image_tag 'construction.png', width:15%>&nbsp;&nbsp; Constructions</a></li>
          <li><a href="#"><%= image_tag 'bathroom.png', width:15%>&nbsp;&nbsp; Bathrooms</a></li>
          <li><a href="#"><%= image_tag 'elevators.png', width:15%>&nbsp;&nbsp; Elevators</a></li>
          <li><a href="#"><%= image_tag 'real estate.png', width:15%>&nbsp;&nbsp; Real Estate</a></li>
          <li><a href="#"><%= image_tag 'shutters.png', width:15%>&nbsp;&nbsp; Shutters</a></li>
          <li><a href="#"><%= image_tag 'pools.png', width:15%>&nbsp;&nbsp; Pools</a></li>
          <li><a href="#"><%= image_tag 'air conditioning.png', width:15%>&nbsp;&nbsp; Air conditioning</a></li>
          <li><a href="#"><%= image_tag 'engineering.png', width:15%>&nbsp;&nbsp; Engineering</a></li>
          <li><a href="#"><%= image_tag 'insulator.png', width:15%>&nbsp;&nbsp; Insulators</a></li>
          <li><a href="#"><%= image_tag 'carpenter and doors.png', width:15%>&nbsp;&nbsp; Carpenters & Door</a></li>
          <li><a href="#"><%= image_tag 'paint.png', width:15%>&nbsp;&nbsp; Paint</a></li>
          <li><a href="#"><%= image_tag 'consulting.png', width:15%>&nbsp;&nbsp; Consulting</a></li>
          <li><a href="#"><%= image_tag 'wall.png', width:15%>&nbsp;&nbsp; Walls</a></li>
          <li><a href="#"><%= image_tag 'iron.png', width:15%>&nbsp;&nbsp; Iron</a></li>
          <li><a href="#"><%= image_tag 'lighting.png', width:15%>&nbsp;&nbsp; Lighting</a></li>
          <li><a href="#"><%= image_tag 'contracting.png', width:15%>&nbsp;&nbsp; Contracting</a></li>
          <li><a href="#"><%= image_tag 'flooring.png', width:15%>&nbsp;&nbsp; Flooring</a></li>
          <li><a href="#"><%= image_tag 'aluminium.png', width:15%>&nbsp;&nbsp; Aluminium</a></li>
          <li><a href="#"><%= image_tag 'electricity.png', width:15%>&nbsp;&nbsp; Electricity</a></li>
          <li><a href="#"><%= image_tag 'interior designs.png', width:15%>&nbsp;&nbsp; Interior Design</a></li>
          <li><a href="#"><%= image_tag 'kitchen.png', width:15%>&nbsp;&nbsp; Kitchens</a></li>
          <li><a href="#"><%= image_tag 'glass.png', width:15%>&nbsp;&nbsp; Glass</a></li>
          <li><a href="#"><%= image_tag 'gardening.png', width:10%>&nbsp;&nbsp; Gardening</a></li>




        </ul>
      </div>
    </div>

  </div>
</div>


<div class="container-fluid products">
  <div class="row">
    <% 12.times do %>
        <div class="col-md-3 product clearfix" style="background-image: url(<%= asset_url('product.jpg')%>)">



          <div class="overlay">
            <div class="color text-center" style="padding-top: 30%">
              <span style="color: white; "><%= fa_icon "search 2x"%></span>

            </div>
            <div class="icon">
              <div class="col-md-6">
                <h3>Floor Covering</h3>
                <p><%= fa_icon "map-marker"%> Shoukat khanam</p>
                <p class="star"><span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span></p>
              </div>
              <div class="col-md-6" id="greeno">
                <h3 class="l_icons pull-right"><span><%= image_tag 'gallery.png'%></span> <span><%= image_tag 'link.png'%></span> <span><%= image_tag 'info.png'%></span><span><%= image_tag 'heart.png'%></span></h3>

              </div>
            </div>
          </div>

        </div>

    <%end%>
  </div>
</div>


<div class="container m-reviews">
  <div class="col-md-1 arrow greeno text-left topper-pad">
    <%= fa_icon 'angle-double-left'%>
  </div>

  <div class="col-md-7 review greeno topper-pad">
    <h3 >User Reiew</h3>
    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet, dolorem expedita neque nesciunt porro reprehenderit sint vitae. Accusamus aliquid cum exercitationem maiores necessitatibus nihil omnis pariatur quasi sunt voluptatem?</p>
  </div>

  <div class="col-md-3">
    <div class="thumbnail">
      <p class="text-center">Very nice and beautifyl</p>
      <%= image_tag 'home.jpg'%>
      <div class="caption">
        <h3 class="greeno">Fiaz Ahmed</h3>
        <p>Very nice and beautifyl</p>

      </div>
    </div>
  </div>

  <div class="col-md-1 arrow greeno text-right topper-pad">
    <%= fa_icon 'angle-double-right'%>
  </div>


</div>