<%= render 'home/top_banner', title: 'Templates'%>
<% content_for :title, "Templates" %>

<div class="container templates">


    <div class="col-sm-4 boxi">
      <div class="icon">
        <%= fa_icon 'file-text-o 5x'%>
      </div>
      <div class="line">
        <div class="col-sm-2 download text-center"><a href="https://www.dropbox.com/s/mxqur1qqkrmgmpv/ReJoin.doc?dl=0"><%= fa_icon 'download '%></a></div>
        <div class="col-sm-10  title "> Rejoin</div>
      </div>
    </div>


  <div class="col-sm-4 boxi">
    <div class="icon">
      <%= fa_icon 'file-text-o 5x'%>
    </div>
    <div class="line">
      <div class="col-sm-2 download text-center"><a href="https://www.dropbox.com/s/w1d1r3i5h4i9vh9/ShabiForm.doc?dl=0"><%= fa_icon 'download '%></a></div>
      <div class="col-sm-10  title "> Shabi</div>
    </div>
  </div>


  <div class="col-sm-4 boxi">
    <div class="icon">
      <%= fa_icon 'file-text-o 5x'%>
    </div>
    <div class="line">
      <div class="col-sm-2 download text-center"><a href="https://www.dropbox.com/s/udad48ock2mtv55/TransferEjar.doc?dl=0"><%= fa_icon 'download '%></a></div>
      <div class="col-sm-10  title "> Transfer Ejer</div>
    </div>
  </div>


  <div class="col-sm-4 boxi">
    <div class="icon">
      <%= fa_icon 'file-text-o 5x'%>
    </div>
    <div class="line">
      <div class="col-sm-2 download text-center"><a href="https://www.dropbox.com/s/78b1v97zwkc430a/Tabadol.doc?dl=0"><%= fa_icon 'download '%></a></div>
      <div class="col-sm-10  title "> Tabadol</div>
    </div>
  </div>


  <div class="col-sm-4 boxi">
    <div class="icon">
      <%= fa_icon 'file-text-o 5x'%>
    </div>
    <div class="line">
      <div class="col-sm-2 download text-center"><a href="https://www.dropbox.com/s/e1tw1ntsicjb8sc/TakhisForm.doc?dl=0"><%= fa_icon 'download '%></a></div>
      <div class="col-sm-10  title "> Takhis</div>
    </div>
  </div>


  <div class="col-sm-4 boxi">
    <div class="icon">
      <%= fa_icon 'file-text-o 5x'%>
    </div>
    <div class="line">
      <div class="col-sm-2 download text-center"><a href="https://www.dropbox.com/s/mic022b4zm9nu8n/Tanazul.doc?dl=0"><%= fa_icon 'download '%></a></div>
      <div class="col-sm-10  title "> Tanazul</div>
    </div>
  </div>


  <div class="col-sm-4 boxi">
    <div class="icon">
      <%= fa_icon 'file-text-o 5x'%>
    </div>
    <div class="line">
      <div class="col-sm-2 download text-center"><a href="https://www.dropbox.com/s/g9zv39dn5tyn258/State%20Minister%20for%20Municipality%20Affairs.pdf?dl=0"><%= fa_icon 'download '%></a></div>
      <div class="col-sm-10  title "> State</div>
    </div>
  </div>



</div>