<%= render 'home/top_banner', title: 'Tips and Tricks'%>
<% content_for :title, "Tip Floor" %>

<div class="container tips_detail">
  <div class="row">
    <div class="col-sm-12 block">
      <h2>Floor and Wall Coverings!</h2>
      <h6 class="pull-right left-date hidden-xs"><span class="icon"><%= fa_icon 'calendar'%></span>15 July, 2015</span> </h6>
      <div class="col-xs-12 text-left" style="padding: 0">
        <h6 class="visible-xs"><span class="icon"><%= fa_icon 'calendar'%></span>15 July, 2015</span> </h6>
      </div>
      <hr/>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12 img-cover">
      <%= image_tag 'tips_detail.jpg', class: "img img-responsive" %>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 texto">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet assumenda cupiditate eos excepturi, explicabo ipsa iure laborum, libero necessitatibus neque nihil perspiciatis, quae quaerat quam similique temporibus vel voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ducimus hic in incidunt ipsa iusto laboriosam magni molestiae, nobis officiis optio porro quaerat quos ratione rem repellat rerum totam voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eius, fuga incidunt inventore molestias nam repellendus totam. A beatae culpa dolorum eos in minus nam, perspiciatis praesentium quasi sed vel.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cum cupiditate dicta dolor eaque incidunt, ipsam iusto nihil non nulla praesentium provident quidem ratione rerum saepe sint soluta tenetur voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur debitis dicta distinctio eligendi illo laboriosam maiores necessitatibus, perferendis. Architecto consectetur dolorem hic ipsam nam necessitatibus praesentium quos totam ullam?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorem numquam quae. Asperiores consequatur debitis, deleniti deserunt enim fugiat, harum hic illum inventore iste optio perferendis quisquam reiciendis repudiandae velit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eveniet odio quidem? Cum error ex ipsam quos tempore voluptatibus voluptatum. Alias ea facilis fugiat molestiae quod! Esse facere praesentium quas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem fugiat iste placeat quisquam. Adipisci animi architecto expedita facere inventore minus, mollitia non nostrum omnis, pariatur praesentium, ratione recusandae tempora voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut autem beatae blanditiis deleniti dicta doloremque enim facilis iusto laudantium maxime minima nihil quas quos repellendus rerum similique sunt, voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut consectetur consequuntur cumque debitis dolor ea eum eveniet facilis fuga in, quas quia repellendus rerum sed sequi sit ullam ut.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cum cupiditate dicta dolor eaque incidunt, ipsam iusto nihil non nulla praesentium provident quidem ratione rerum saepe sint soluta tenetur voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur debitis dicta distinctio eligendi illo laboriosam maiores necessitatibus, perferendis. Architecto consectetur dolorem hic ipsam nam necessitatibus praesentium quos totam ullam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi delectus, deleniti eaque eos ex fugiat in, ipsa libero odit officia qui reiciendis soluta sunt, suscipit tempora tempore tenetur velit.</p>
        <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 comments">
      <h4>2 COMMENTS</h4>

      <div class="media">
        <div class="media-left">
          <a href="#">
            <%= image_tag 'jhony.png'%>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Ijaz Ahmed</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias autem blanditiis debitis eos, fugiat inventore labore laborum maiores minus obcaecati reiciendis similique. Consectetur neque nostrum repellat similique totam voluptatem!</p>
          <p><%= fa_icon 'clock-o'%>&nbsp;15 mins ago &nbsp;|&nbsp;<a style="color: #97c13c" href="">Reply</a></p>

          <div class="media">
            <div class="media-left">
              <a href="#">
                <%= image_tag 'jhony.png'%>
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Ijaz Ahmed</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias autem blanditiis debitis eos, fugiat inventore labore laborum maiores minus obcaecati reiciendis similique. Consectetur neque nostrum repellat similique totam voluptatem!</p>
              <p><%= fa_icon 'clock-o'%>&nbsp;15 mins ago &nbsp;|&nbsp;<a style="color: #97c13c" href="">Reply</a></p>
            </div>
          </div>

        </div>
      </div>







      <div class="media">
        <div class="media-left">
          <a href="#">
            <%= image_tag 'jhony.png'%>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Ijaz Ahmed</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias autem blanditiis debitis eos, fugiat inventore labore laborum maiores minus obcaecati reiciendis similique. Consectetur neque nostrum repellat similique totam voluptatem!</p>
          <p><%= fa_icon 'clock-o'%>&nbsp;15 mins ago &nbsp;|&nbsp;<a style="color: #97c13c" href="">Reply</a></p>
        </div>
      </div>

    </div>
  </div>



  <div class="row">
    <div class="col-sm-12 write-comments">
      <h4 style="margin-bottom: 20px;">ADD COMMENT</h4>


      <div class="col-sm-12 form-line">

        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">NAME<span class="text-danger">&nbsp;*</span></label>
            <div class="col-sm-6">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">EMAIL<span class="text-danger">&nbsp;*</span></label>
            <div class="col-sm-6">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">WEBSITE</label>
            <div class="col-sm-6">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Website">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left">REVIEW<span class="text-danger">&nbsp;*</span></label>
            <div class="col-sm-6">
              <textarea type="text" class="form-control" id="inputEmail3" placeholder="Review"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label" style="text-align: left"></label>
            <div class="col-sm-2">

              <div class="button text-center">SUBMIT</div>
            </div>
          </div>
          <hr/>






        </form>



      </div>


    </div>
  </div>



    </div>