<%= render 'home/top_banner', title: 'TO DO List'%>
<% content_for :title, "TO DO List" %>




<div class="container calendar">
  <div class="row">
    <div class="col-xs-12">
      <div id="fuck-nav">
        <div class="col-sm-4 tab text-center"><div onclick="lunsuck1()" class="button">CALENDAR</div> </div>
        <div class="col-sm-4 activet tab text-center"><div onclick="lunsuck2()" class="button">TO DO</div></div>
        <div class="col-sm-4 tab text-center"><div onclick="lunsuck3()" class="button">ADD TO LIST</div></div>
      </div>
    </div>
  </div>
</div>

<script>
    function lunsuck1(){
        window.location.href = "/calendar";
    }
    function lunsuck2(){
        window.location.href = "/todo";
    }
    function lunsuck3(){
        window.location.href = "/add_todo";
    }

</script>














<div class="container rules" style="top: -30px; position: relative;">
  <div class="row">

    <% array = [

           "Upcoming"

    ]%>

    <%1.times do |i|%>

        <div class=" line col-xs-12">

          <div class="text col-xs-11"><b><%= array[i]%></b></div>
          <div class="toggle col-xs-1 text-center">
            <a style="color: #3E4B58" role="button" data-toggle="collapse" href="<%= "#collapseExample#{i}" %>" aria-expanded="false" aria-controls="collapseExample">
              <%= fa_icon 'caret-down'%>
            </a>
          </div>

          <div class="col-xs-12 ">
            <div class="collapse" id="<%= "collapseExample#{i}" %>">
              <div class="toggle-text">

                <table class="table">

                  <tr class="text-center">
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date<th>
                  </tr>
                  <tr>
                    <td>Pick grocery</td>
                    <td>Visit the local market and get fresh veggies and some soya sauce</td>
                    <td>19 Dec</td>

                  </tr>


                </table>

              </div>
            </div>
          </div>

        </div>

    <%end%>





  </div>












</div>
