<%= render 'home/top_banner', title: 'Top Five'%>
<% content_for :title, "Top Companies" %>

<div class="container h-company">

  <% 5.times do |i|%>

  <div class="line_item">

  <div class="row">

    <div class="col-sm-4 col-xs-6 imgeo ">

      <h1 class="greeno" style="margin-bottom: 20px;"><%= image_tag 'Bars.svg', class: 'baro hidden-xs'%><%= i+=1%>: &nbsp;Artecasa</h1>

      <%= image_tag "home.jpg", class: 'img img-circle  roundo' %>
    </div>

    <div id="mastana" class="col-sm-4 col-xs-6  greeno"  style="position: relative; top: 180px;">

      <div style="display: inline-flex"><p style="width: 140px;">Quality:</p>

        <div>

          <p  class="star"><span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span></p>

        </div>

      </div>

      <div style="display: inline-flex"><p style="width: 140px;">Customer Service:</p>

        <div  >

          <p  class="star"><span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span></p>

        </div>

      </div>

      <div style="display: inline-flex"><p style="width: 140px;">Efficency:</p>

        <div  >

          <p  class="star"><span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span></p>

        </div>

      </div>

    </div>

     <div class="col-sm-3 col-sm-offset-1 col-xs-12 sideo text-center" >

      <h2 style="margin-top: 60px;">Want to know more?</h2>
      <p style="margin-top: 50px;">See what people had to say</p>
      <button style="margin-top: 50px;margin-bottom: 40px;" class="btn btn-lg btn-default" onclick="run()">Click Here</button>

    </div>

    <script>
      function run(){window.location.href = "/company/index";}
    </script>



  </div>

  <div class="row hidden-xs hidden-sm" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="col-sm-6">
      <div class="line"></div>
    </div>
    <div class="col-sm-6">
      <div class="line"></div>
    </div>

  </div>

  </div>

  <%end%>


</div>