<%= image_tag 'artecasa.jpg', class: "full_img"%>

<div class="container about">
  <h1 class="text-center"><b>ABOUT ARTICASA</b></h1>
  <p style="font-size: 15px; line-height: 25px;">From the very beginning, ARTECASA has established itself as a renowned retailer, known for its quality, its artistic expression and its customer service.

    Dreaming of a space synonymous with sleek stylish living, Ala’a Hayat established ARTECASA is 1994.  He wanted to offer classical and trendy products to help create a comfortable and enjoyable personalized space for people in Kuwait.

    Today, ARTECASA stays true to the core principles of the founder and for this reason remains a premier retailer.  It is recognized for its diverse international designer collections, and helped by its expertly edited assortment of wall and floor coverings, sanitary-ware, wellness products and bathroom furniture.</p>
</div>

<div class="categories">
  <div class="container">
    <h1 class="text-center">Our <b>Categories</b></h1>
    <div class="row">
      <div class="col-xs-12 ">
        <ul class="nav  navbar-nav">
          <li><a class="active" href="#">All</a></li>
          <li><a href="#"><%= image_tag 'wall.png' %>&nbsp;&nbsp; Walls</a></li>
          <li><a href="#"><%= image_tag 'bathroom.png'  %>&nbsp;&nbsp;Bathroom</a></li>
          <li><a href="#"><%= image_tag 'insulator.png' %>&nbsp;&nbsp;Insulator</a></li>
          <li><a href="#"><%= image_tag 'kitchen.png' %>&nbsp;&nbsp;Kitchen</a></li>
          <li><a href="#"><%= image_tag 'flooring.png' %>&nbsp;&nbsp;Floor</a></li>
          <li><a href="#"><%= image_tag 'door.png'%>&nbsp;&nbsp;Carpenters & Door</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="container info">
  <div class="row">
    <div class="col-sm-12 content">
      <div class="col-sm-2 col-xs-2 img"><%= image_tag 'arti_logo.png'%></div>
      <div class="col-sm-6">
        <h1 style="margin-top: 0; margin-bottom: 30px;">Artecasa</h1>
        <div style="display:flex">
          <ul class="list">
            <li><%= fa_icon "map-marker" %>&nbsp; Shuwaikh industrrial area, Kuwait</li>
            <li><%= fa_icon "phone" %>&nbsp; +96524848000</li>
            <li><%= fa_icon "envelope" %>&nbsp; info@artecasa.bz</li>
          </ul>

          <ul class="list" style="margin-left: 8%;">
            <li><%= fa_icon "tag" %>&nbsp; own 6 products</li>
            <li><%= fa_icon "star" %>&nbsp; 8 reviews</li>
            <li><%= fa_icon "picture-o" %>&nbsp; 12 pictures</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-12 tabs">

      <ul id="moz">
        <li class="<%= active==1 ? 'active' : nil%>"><a  href="/company/index">  <%= fa_icon "tag"%>&nbsp;&nbsp;Products </a></li>
        <li class="<%= active==2 ? 'active' : nil%>"><a  href="/company/services"><%= fa_icon "briefcase"%>&nbsp;&nbsp;Services</a></li>
        <li class="<%= active==3 ? 'active' : nil%>"><a  href="/company/offers"><%= image_tag 'offers.png', width: 15%>&nbsp;&nbsp;Offers</a></li>
        <li class="<%= active==4 ? 'active' : nil%>"><a  href="/company/reviews"> <%= fa_icon "star"%>&nbsp;&nbsp;Reviews</a></li>
        <li class="<%= active==5 ? 'active' : nil%>"><a  href="/company/branches"><%= image_tag 'brances.png', width: 15%>&nbsp;&nbsp;Branches</a></li>
      </ul>

    </div>

  </div>
</div>


