<img src="https://unsplash.com/photos/lZlfHGqx44Q/download" style="width: 100%">

<div class="container about">
  <h1 class="text-center">ABOUT ARTICASA</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aliquam, commodi consectetur consequatur cumque debitis facilis fugiat iste libero minus molestias necessitatibus perferendis quam reiciendis sint tempore tenetur totam unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis explicabo nobis sed veritatis. Aspernatur, eveniet facilis impedit iusto perspiciatis quos totam voluptatem. Aperiam, nesciunt, quod. Aliquid deleniti eveniet explicabo sapiente? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet dignissimos dolorum, eligendi enim fuga in, laboriosam laudantium magnam modi molestiae neque obcaecati porro quia quis sint tempore veritatis? Eligendi?</p>
</div>

<div class="categories">
  <div class="container">
    <h1 class="text-center">Our Categories</h1>
    <div class="row">
      <div class="col-md-12 ">
        <ul class="nav  navbar-nav">
          <li><a href="#">All</a></li>
          <li><a href="#">Walls</a></li>
          <li><a href="#">Bathroom</a></li>
          <li><a href="#">Insulator</a></li>
          <li><a href="#">Kitchen</a></li>
          <li><a href="#">Floor</a></li>
          <li><a href="#">Door</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="container info">
  <div class="row">
    <div class="col-md-12 content">
      <div class="col-md-2 img"><img src="http://ecx.images-amazon.com/images/I/81MnrvdXuuL._SX425_.jpg" alt=""></div>
      <div class="col-md-6">
        <h1 style="margin-top: 0">Artecasa</h1>
        <div style="display:flex">
          <ul class="list">
            <li><%= fa_icon "map-marker" %>&nbsp; Shuwaikh industrrial area, Kuwait</li>
            <li><%= fa_icon "phone-square" %>&nbsp; Shuwaikh industrrial area, Kuwait</li>
            <li><%= fa_icon "envelope" %>&nbsp; Shuwaikh industrrial area, Kuwait</li>
          </ul>

          <ul class="list" style="margin-left: 8%;">
            <li><%= fa_icon "map-marker" %>&nbsp; Shuwaikh industrrial area, Kuwait</li>
            <li><%= fa_icon "phone-square" %>&nbsp; Shuwaikh industrrial area, Kuwait</li>
            <li><%= fa_icon "envelope" %>&nbsp; Shuwaikh industrrial area, Kuwait</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-12 tabs">

      <ul class="">
        <li><a href="/company/index">  <%= fa_icon "tags"%>&nbsp;&nbsp;Products </a></li>
        <li><a href="/company/services"><%= fa_icon "briefcase"%>&nbsp;&nbsp;Services</a></li>
        <li><a href="/company/offers"><%= fa_icon "bullhorn"%>&nbsp;&nbsp;Offers</a></li>
        <li><a href="/company/reviews"> <%= fa_icon "star"%>&nbsp;&nbsp;Reviews</a></li>
        <li><a href="/company/branches"> <%= fa_icon "truck"%>&nbsp;&nbsp;Branches</a></li>
      </ul>

    </div>

  </div>
</div>


