<%= render 'company/common_top', active:5 %>
<% content_for :title, "Artecasa Branches" %>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<div class="container branches">
  <div class="row">
    <%6.times do |i|%>

        <div class="col-sm-4 col-xs-12 branch">
          <div class="map">
            <div style="width:100%;overflow:hidden;;max-width:100%;"><div id="<%= "map#{i}" %>" style="height:100%; width:100%;max-width:100%;"></div><a class="embedded-map-html" href="https://www.treat-lice.com" id="grab-map-info">nits removal</a><style>#gmap-canvas img{max-width:none!important;background:none!important;font-size: inherit;}</style></div>
          </div>

          <h4>Articasa Branch 1</h4>
          <div class="col-sm-6 col-xs-6">
            <p><span class="greeno"><%= image_tag 'kuwait_finder.svg', width: 15%></span>&nbsp; Shuwaikh, Kuwait</p>
            <p><span class="greeno"><%= fa_icon "phone"%></span>&nbsp; (+965) 24848000</p>
            <p><span class="greeno"><%= fa_icon "envelope" %></span>&nbsp; info@artecasa.bz</p>
          </div>
          <div class="col-sm-6 col-xs-6" id="border-line" >
            <p><span class="greeno"><%= fa_icon "tag" %></span>&nbsp; owns 6 products</p>
            <p><span class="greeno"><%= fa_icon "briefcase" %></span>&nbsp; 12 services</p>
            <p><span class="greeno"><%= fa_icon "star" %></span>&nbsp; 8 reviews</p>
          </div>
        </div>




        <script>
            function initialize() {
                var mapCanvas = document.getElementById("<%= "map#{i}" %>");
                var mapOptions = {
                    center: new google.maps.LatLng(29.3667, 47.9667),
                    zoom: 8,
                    disableDefaultUI: true,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                var map = new google.maps.Map(mapCanvas, mapOptions)
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

    <%end%>

  </div>
</div>

