<%= render 'company/common_top'%>

<div class="container offers">

    <div class="row">
      <div class="col-md-12 header">
        <div class="col-md-4 line"></div>
        <div class="col-md-4">
          <h2>Arecasa Offers</h2>
        </div>
        <div class="col-md-4 line"></div>
      </div>
    </div>
  <div class="row offer_imgs">
    <%3.times do%>
        <div class="col-md-4" style="text-align: center">

          <img src="http://apartmentluxe.com/main/wp-content/uploads/2012/04/E51st_10D-1.jpg" class="img img-circle">
        </div>
    <%end%>
  </div>

  <div class="row text">
    <div class="col-md-8">
      <h3>The long text of title goes here</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, earum, veniam? Ab accusantium assumenda at debitis error explicabo, facere id modi numquam obcaecati, odit praesentium provident repudiandae rerum tenetur velit.</p>
    </div>
  </div>

</div>



<div class="container s_offers">

  <div class="row">
    <div class="col-md-12 header">
      <div class="col-md-4 line"></div>
      <div class="col-md-4">
        <h2>Special Offers</h2>
      </div>
      <div class="col-md-4 line"></div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 left">
      <img src="http://apartmentluxe.com/main/wp-content/uploads/2012/04/E51st_10D-1.jpg" class="img img-circle">
      <ul >
        <li><span><%= fa_icon "envelope 2x"%>&nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
        <li><span><%= fa_icon "envelope 2x"%>&nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
        <li><span><%= fa_icon "envelope 2x"%>&nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
        <li><span><%= fa_icon "envelope 2x"%>&nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
      </ul>
    </div>


    <div class="col-md-6 right">
      <img src="http://apartmentluxe.com/main/wp-content/uploads/2012/04/E51st_10D-1.jpg" class="img img-circle">
      <ul >
        <li><span><%= fa_icon "envelope 2x"%>&nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
        <li><span><%= fa_icon "envelope 2x"%>&nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
        <li><span><%= fa_icon "envelope 2x"%>&nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
        <li><span><%= fa_icon "envelope 2x"%>&nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
      </ul>
    </div>


  </div>

</div>