<%= render 'company/common_top', active:4 %>
<% content_for :title, "Artecasa Reviews" %>

<div class="container reviews">

  <div class="row latest">
    <div class="col-sm-4 col-xs-12">
      <h2><%= image_tag 'Bars.svg', class: 'baro'%>Latest Reviews</h2>
      <p></p>

    </div>
    <div  class="col-sm-12 r_imgs">
      <div id="owl-demo" style="margin-top: 20px;">
      <%6.times do%>
        <div  class="col-sm-3 review owl-item">
          <div>
            <img src="http://apartmentluxe.com/main/wp-content/uploads/2012/04/E51st_10D-1.jpg" class="img img-circle">
          </div>
          <div class="r_info" style="padding-top: 20px;">
            <div class="left">
            <%= image_tag 'jhony.png'%>
            <div style="display: inline-flex;    position: relative;top: -10px;">
              <p class="star"><span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span></p>
            </div>
            <div class="name" style="">
              <h3 class="greeno">Jhone doe</h3>
            </div>
            </div>
            <div class="well right" style="">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, eos!</p>
            </div>
          </div>
        </div>
          <%end%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6  col-xs-6" style="padding-right: 20px;"> <div class="line"> </div> </div>
    <div class="col-sm-6 col-xs-6" style="padding-left: 20px;"> <div class="line"> </div> </div>
  </div>
  <div class="row latest">
    <div class="col-sm-4 col-xs-12">
      <h2><%= image_tag 'Bars.svg', class: 'baro'%>Trending Reviews</h2>
      <p></p>
    </div>
    <div  class="col-sm-12 r_imgs">
      <div id="owl-demo2" style="margin-top: 20px;margin-bottom: 20px;">
        <%6.times do%>
            <div  class="col-sm-3 review owl-item">
              <div>
                <img src="http://apartmentluxe.com/main/wp-content/uploads/2012/04/E51st_10D-1.jpg" class="img img-circle">
              </div>
              <div class="r_info" style="padding-top: 20px;">
                <div class="left">
                  <%= image_tag 'jhony.png'%>
                  <div style="display: inline-flex;    position: relative;top: -10px;">
                    <p class="star"><span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span></p>
                  </div>
                  <div class="name" style="">
                    <h3 class="greeno">Jhone doe</h3>
                  </div>
                </div>
                <div class="well right" style="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, eos!</p>
                </div>
              </div>
            </div>
        <%end%>
      </div>
    </div>
  </div>

</div>