<%= render 'company/common_top'%>
<% content_for :title, "Artecasa Reviews" %>

<div class="container reviews">

  <div class="row latest">
    <div class="col-md-4">
      <h2>Latest Review</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti distinctio dolores eligendi est eum, laudantium natus nostrum numquam odio officia omnis, optio placeat qui quod quos repellendus suscipit totam veniam.</p>
    </div>
    <div class="col-md-8 r_imgs">
      <%3.times do%>
        <div class="col-md-4 review">
          <div>
            <img src="http://apartmentluxe.com/main/wp-content/uploads/2012/04/E51st_10D-1.jpg" class="img img-circle">
          </div>
          <div class="r_info" style="padding-top: 20px;">
            <%= image_tag 'jhony.png'%>
            <div style="display: inline-flex;    position: relative;top: -10px;">
              <p class="star"><span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span></p>
            </div>
            <div style="position: relative; top:-35px; margin-left: 65px;">
              <h3 class="greeno">Jhone doe</h3>
            </div>
            <div class="well" style="padding: 10px;    position: relative;top: -25px;">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, eos!</p>
            </div>
          </div>
        </div>
          <%end%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 " style="padding-right: 20px;"> <div class="line"> </div> </div>
    <div class="col-md-6 " style="padding-left: 20px;"> <div class="line"> </div> </div>
  </div>
  <div class="row latest">
    <div class="col-md-4">
      <h2>Trending Review</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti distinctio dolores eligendi est eum, laudantium natus nostrum numquam odio officia omnis, optio placeat qui quod quos repellendus suscipit totam veniam.</p>
    </div>
    <div class="col-md-8 r_imgs">
      <%3.times do%>
          <div class="col-md-4 review">
            <div>
              <img src="http://apartmentluxe.com/main/wp-content/uploads/2012/04/E51st_10D-1.jpg" class="img img-circle">
            </div>
            <div class="r_info" style="padding-top: 20px;">
              <%= image_tag 'jhony.png'%>
              <div style="display: inline-flex;    position: relative;top: -10px;">
                <p class="star"><span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span>&nbsp;<span><%= fa_icon "star"%></span></p>
              </div>
              <div style="position: relative; top:-35px; margin-left: 65px;">
                <h3 class="greeno">Jhone doe</h3>
              </div>
              <div class="well" style="padding: 10px;    position: relative;top: -25px;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, eos!</p>
              </div>
            </div>
          </div>
      <%end%>
    </div>
  </div>

</div>